.trade_item_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: .5rem;
}

.img_container_notify {
    max-height: 250px;
    min-height: 250px;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.img_container_notify::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: 1;
}

.img_container_notify img {
    height: auto;
    max-height: 250px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}




.item{
    background-color: black;
    color: white;
    padding: 15px;
    height: 100%;
    min-width: 130px;
    max-width: 130px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
}

.section_head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(128, 128, 128, 0.302);
}

#delete_chat_btn{
    background: none;
}

.message_container{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.message_container::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #ebebeb;
}

.message_container::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    height: 5px;
    width: 1px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.message_container::-webkit-scrollbar-thumb:hover {
    background-color: #b1b1b1;
    transition: all 0.2s ease;
}


.message{
    display: flex;
    align-items: start;
    gap: .5rem;
    padding: 10px;
}

.message.incoming{
    justify-content: end;
}

.message.outgoing{
    justify-content: start;
}



.message img{
    width: 38px;
    height: auto;
    border-radius: 100%;
}

.message_text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.message_text p{
    background-color: rgba(128, 128, 128, 0.302);
    padding: 5px;
    border-radius: 10px;
}

/*  */
.input_message{
    display: none;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.302);
}
.input_message.agree{
    display: flex;
}
/*  */
.input_message input{
    width: 100%;
    padding: 10px 10px;
    border: none;
}

.input_message img{
    width: 32px;
    height: auto;
    padding-right: 10px;
}

/* Стили для диалогового окна */
#choose_thing {
    display: none;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#choose_thing[open] {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
#delete_chat{
    display: none;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#delete_chat[open] {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow-x: hidden;
    max-width: 350px;
    border: none;
    border-radius: 7px;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.text_container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-right: 10px;
}
.thing_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    overflow-y: scroll;
    max-height: 300px;
    padding-right: 10px;
}
/* Стили для скролла */
.thing_container::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #ebebeb;
}

.thing_container::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.thing_container::-webkit-scrollbar-thumb:hover {
    background-color: #b1b1b1;
}
.personal_thing{
    display: flex;
    text-align: left;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}


/* new */
.notification_container{
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;

    padding: 10px;
    border-radius: 10px;
    background-color: #b1b1b16a;


    position: absolute;
    width: 230px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%)
}
.notification_container.active{
    display: block;
}
.notification_container_choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    display: none;

    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #b1b1b16a;

    position: absolute;
    width: 230px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%)
}
.notification_container_choices.active{
    display: block;
}

.choice_btn_box{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.selected {
    background-color: #d1e7dd;
}
.agree_btn{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    min-width: 100px;
}
.refusal_btn{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    min-width: 100px;
}

.swiper-container {
    width: 100%;
    height: 380px;
    position: relative;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    height: auto;
    max-height: 250px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.item-name {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.item__selected{
    display: none;
    padding: 5px 7px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;

    position: absolute;
    top: 0;
}

.item__selected.selected {
    display: block;
    border: none;
    background-color: #d1e7dd;
    z-index: 4;
}


.swiper-button-next,
.swiper-button-prev {
    color: black !important;
}


.swiper-pagination-bullet {
    background: black !important;
}

.swiper-pagination-bullet-active {
    background: gray !important;
}

.select-button{
    background-color:gray;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: 10px 0px;
}


.img_container{
    max-height: 250px;
    min-height: 250px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .img_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: 1;
}
