<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rating" content="general">
    <meta name="author" content="ФИО" />
    <meta name="keywords" content="обмен, вещи, взамен, обменяй" />
    <meta name="description" content="Обменяй.ру - сервис по обмену вещами" />
    <link rel="icon" type="image/svg+xml" href="/static/public/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/static/index.css">
    {% block head %}
    {% endblock %}
    <title>Обменяй.ру</title>
    {% block vkid %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="content_box">
            <header class="content_box_title_icon" aria-label="Иконка верхней части телефона"></header>
            <main class="content" id="content">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer" id="footer">
                <button class="footer_button" id="message" onclick="setActiveButton('message'); window.location='https://obmenyay-ru.ru/chats'" type="button">
                    <img src="https://obmenyay-ru.ru/static/icon/fotter/message.svg" alt="">
                </button>
                <button class="footer_button" id="home" onclick="setActiveButton('home'); window.location='https://obmenyay-ru.ru/items/for-trade'" type="button">
                    <img src="https://obmenyay-ru.ru/static/icon/fotter/home.svg" alt="">
                </button>
                <button class="footer_button" id="personal_cabinet" onclick="setActiveButton('personal_cabinet'); window.location='https://obmenyay-ru.ru/items/my'" type="button">
                    <img src="https://obmenyay-ru.ru/static/icon/fotter/user.svg" alt="">
                </button>
            </footer>

        </div>
    </div>

    <script>
        function setActiveButton(activeId) {
            const buttons = document.querySelectorAll('.footer_button');
            buttons.forEach(button => {
                button.classList.remove('active');
            });
            const activeButton = document.getElementById(activeId);
            activeButton.classList.add('active');
        }
    </script>
</body>
</html>