<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rating" content="general">
    <meta name="author" content="ФИО" />
    <meta name="keywords" content="обмен, вещи, взамен, обменяй" />
    <meta name="description" content="Обменяй.ру - сервис по обмену вещами" />
    <link rel="icon" type="image/svg+xml" href="/static/public/favicon.svg" />
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/burger-menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    {% block head %}
    {% endblock %}
    <title>Обменяй.ру</title>
    {% block vkid %}
    {% endblock %}
</head>

{% block styles %}
{% endblock %}

<body>
    <div class="wrapper">
        <div class="content_box">
            <header class="content_box_title_icon" aria-label="Иконка верхней части телефона"></header>
            <main class="content" id="content">
                {% block content %}
                {% endblock %}
            </main>


            <!-- burger-menu -->
            <div class="burger-menu">
                <div class="burger" id="burger">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
            </div>

            <nav class="menu" id="menu">
                <button class="menu_button" id="message" type="button" onclick="setActiveButton('message'); window.location.href='https://obmenyay-ru.ru/chats'">
                    <img src="../static/icon/fotter/message.svg" alt="Message">
                    <span>Messages</span>
                </button>
                <button class="menu_button" id="home" type="button" onclick=" setActiveButton('home'); window.location.href='https://obmenyay-ru.ru/items/for-trade'">
                    <img src="../static/icon/fotter/home.svg" alt="Home">
                    <span>Home</span>
                </button>
                <button class="menu_button" id="personal_cabinet" type="button" onclick=" setActiveButton('personal_cabinet'); window.location.href='https://obmenyay-ru.ru/items/my'">
                    <img src="../static/icon/fotter/user.svg" alt="User ">
                    <span>Profile</span>
                </button>
            </nav>

        </div>
    </div>
    <script>
        function setActiveButton(activeId) {

            const buttons = document.querySelectorAll('.menu_button');


            buttons.forEach(button => {
                button.classList.remove('active');
            });

            const activeButton = document.getElementById(activeId);
            activeButton.classList.add('active');
        }

        document.getElementById('burger').addEventListener('click', function() {
            const menu = document.getElementById('menu');
            const burger = document.getElementById('burger');
            menu.classList.toggle('active');
            burger.classList.toggle('active');
});

    </script>
</body>
</html>