{% extends "base.html" %}

{% block content %}
<section id="home_main">
  <h2> Обменяй.ру </h2>
  <div class="home_container">
    <div class="card_container" id="card_container"></div>
    <div class="button_container">
      <button class="button_skip" type="button">
        <img src="https://obmenyay-ru.ru/static/icon/home/VectorX.svg" alt="skip">
      </button>
      <button class="button_trade" type="button">
        <img src="https://obmenyay-ru.ru/static/icon/home/Vector.svg" alt="trade">
      </button>
    </div>
  </div>
    <dialog id="exchange_modal">
        <h2>Выберите вещь для обмена</h2>
          <button class="close_modal" type="button">
              <img src="https://obmenyay-ru.ru/static/icon/persobnalCabinet/close.svg" alt="close_form">
          </button>
        <div class="modal_box">
          <div id="exchange_thing_list" class="thing_list">
                    </div>
                    <button class="success_btn" type="button">
                      Готово
                    </button>
                  </div>
        </dialog>
</section>

<script type="module">

let currentItems = [];
const cardContainer = document.getElementById('card_container');

async function fetchItems() {
    const response = await fetch('/items/');
    if (!response.ok) {
        const message = await response.text();
        cardContainer.textContent = message;
        return;
    }
    const data = await response.json();
    currentItems = data;
    return data;
}

async function renderItem(item) {
    const card = document.createElement('div');
    card.setAttribute('name', 'thing_card_name');
    card.setAttribute('id', `card_${item.id}`);
    card.classList.add('card');
    card.innerHTML = `
        <img src="${item.s3_url_path}" alt="Картинка товара">
        <span>${item.name}</span>
        <p>${item.description}</p>
    `;
    cardContainer.appendChild(card);
}

async function skipItem(itemId) {
  const numericItemId = parseInt(itemId);
  const index = currentItems.findIndex(item => item.id === numericItemId);
  if (index !== -1) {
    currentItems.splice(index, 1);

    try {
      const response = await fetch(`/items/${numericItemId}/skip`);
      if (!response.ok) {
        console.error('Ошибка при отправке запроса на сервер:', response.statusText);
      } else {
        console.log('Запрос на пропуск элемента отправлен успешно');
      }
    } catch (error) {
      console.error('Ошибка при отправке запроса:', error);
    }

    const currentCard = document.querySelector('.card');
    if (currentCard) {
      currentCard.remove();
    }

    if (currentItems.length > 0) {
      const newCard = currentItems[0];
      renderItem(newCard);
    } else {
      await loadNewItems();
    }
  } else {
    console.error('Элемент с ID', itemId, 'не найден');
  }
}

document.querySelector('.button_skip').addEventListener('click', async () => {
    const currentCard = document.querySelector('.card');
    if (currentCard) {
        const itemId = currentCard.id.slice(5);
        await skipItem(itemId);
    }
});


document.querySelector('.button_trade').addEventListener('click', async () => {
    const currentCard = document.querySelector('.card');
    if (currentCard) {
        const itemId = currentCard.id.slice(5);
        await tradeItem(itemId);
    }
});

async function loadNewItems() {
  const items = await fetchItems();

  if (items.length > 0) {
    renderItem(items[0]);
  } else {
    cardContainer.textContent = 'Закончились товары';
    const buttons = document.querySelectorAll('.button_skip, .button_trade');
    buttons.forEach(button => button.style.display = 'none');
  }
}

document.addEventListener('DOMContentLoaded', async () => {
    const footer = document.getElementById('footer');
    footer.classList.add('active');
    await loadNewItems();
});
</script>

{% endblock %}