{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/fetures/Messages/styles.css">
    <link rel="stylesheet" href="/static/fetures/Messages/message.css">
{% endblock %}



{% block content %}
                <section class="messages_container">
                    <div class="section_head">
                        <h1> <img src="/static/icon/user.svg" width="20px" alt="user_icon">Николай</h1>
                        <button id="delete_chat_btn" onclick="window.delete_chat.showModal()"><img
                                src="/static/icon/delete.svg" alt="delete_icon"></button>
                    </div>
                    <div class="trade_item_box">
                        <button class="item" id="selected_item" type="button" onclick="window.choose_thing.showModal()">Выбрать
                            вещь</button>
                        <img src="/static/icon/logo/logo.svg" alt="">
                        <div class="item">Ручка</div>
                    </div>
                    <div class="message_container">
                        <div class="notification_container" id="statusMessage">
                            <span>Ожидание ответа от пользователя</span>
                        </div>
                        <div class="notification_container_choices active">
                            <span>Вы согласы на обмен ?</span>
                            <div class="choice_btn_box">
                                <button class="agree_btn" type="button" id="agree_trade">Да</button>
                                <button class="refusal_btn" type="button" id="refusal_btn">Нет</button>
                            </div>
                        </div>
                        <!-- <div class="message">
                            <img src="https://avatars.mds.yandex.net/i?id=561543dbc4c04e48e3dfecb21134d955_l-4299853-images-thumbs&n=13" alt="avatar">
                            <div class="message_text">
                                <p>Да, давай. Согласен встретиться на перемене</p>
                                <p>Да, давай. Согласен встретиться на перемене</p>
                                <p>Да, давай. Согласен встретиться на перемене</p>
                                <p>Да, давай. Согласен встретиться на перемене</p>
                                <p>Да, давай. Согласен встретиться на перемене</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="message_text">
                                <p>Да, давай. Согласен встретиться на перемене</p>
                            </div>
                            <img src="https://avatars.mds.yandex.net/i?id=561543dbc4c04e48e3dfecb21134d955_l-4299853-images-thumbs&n=13" alt="avatar">
                        </div>
                        <div class="message">
                            <img src="https://avatars.mds.yandex.net/i?id=561543dbc4c04e48e3dfecb21134d955_l-4299853-images-thumbs&n=13" alt="avatar">

                            <div class="message_text">
                                <p>Да, давай. Согласен встретиться на перемене</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="input_message">
                        <input id="chat_input" type="text" placeholder="">
                        <img src="/static/icon/message/icon.svg" alt="message_icon">
                    </div>
                    <dialog id="choose_thing">
                        <h2>Выбрать вещь</h2>
                        <button class="close_modal" type="button">
                            <img src="/static/icon/persobnalCabinet/close.svg" alt="close_form">
                        </button>
                        <div class="thing_container" id="thing_list"></div>
                    </dialog>
                    <dialog id="delete_chat">
                        <h2>Удалить этот чат</h2>
                        <button class="close_modal" type="button">
                            <img src="/static/icon/persobnalCabinet/close.svg" alt="close_form">
                        </button>
                        <div class="text_container">
                            Вы действительно хотите удалить этот чат ?
                        </div>
                        <button type="button" id="cancellation_chat" class="add_thing_button">Отменить</button>
                        <button type="button" id="remove_chat" class="add_thing_button">Удалить</button>
                    </dialog>
                </section>
<script>

        const items = ['Ручка', 'Блокнот', 'Книга', 'Кружка', 'Игрушка'];
        const thingList = document.getElementById('thing_list');
        const selectedItemButton = document.getElementById('selected_item');
        let selectedItem = localStorage.getItem('selectedItem');

        function displayItems() {
            items.forEach(item => {
                const button = document.createElement('button');
                button.className = 'personal_thing';
                button.textContent = item;
                button.addEventListener('click', () => {

                    document.querySelectorAll('.personal_thing').forEach(btn => {
                        btn.classList.remove('selected');
                    });

                    button.classList.add('selected');
                    selectedItemButton.textContent = item;
                    localStorage.setItem('selectedItem', item);
                    document.getElementById('choose_thing').close();
                });
                if (item === selectedItem) {
                    button.classList.add('selected');
                    selectedItemButton.textContent = item;
                }
                thingList.appendChild(button);
            });
        }



        document.querySelectorAll('.close_modal').forEach(button => {
            button.addEventListener('click', (event) => {
                const dialog = event.target.closest('dialog');
                if (dialog) {
                    dialog.close();
                }
            });
        });

        displayItems();

    const testJson = [
        {
            status: 'waiting for owner'
        },
        {
            status: 'choose item'
        }
    ];

    function updateStatusMessage() {
        const statusMessageElement = document.getElementById('statusMessage');
        const currentStatus = testJson[1].status;


        switch (currentStatus) {
            case 'waiting for owner':
                statusMessageElement.textContent = 'Ожидание ответа от пользователя';
                break;
            case 'choose item':
                statusMessageElement.textContent = 'Пожалуйста, выберите вещь для обмена';
                break;
            default:
                throw new Error('status unknown');
        }
    }

    document.querySelectorAll('.close_modal').forEach(button => {
        button.addEventListener('click', (event) => {
            const dialog = event.target.closest('dialog');
            if (dialog) {
                dialog.close();
            }
        });
    });

    document.getElementById('cancellation_chat').addEventListener('click', () => {
        const dialog = event.target.closest('dialog');
        if (dialog) {
            dialog.close();
        }
    });

    document.getElementById('remove_chat').addEventListener('click', () => {
        // Саша, тут запрос на удаление чата :)
    });

    document.getElementById('chat_input').disabled = true;

    document.getElementById('agree_trade').addEventListener('click', () => {
        document.querySelector('.input_message').classList.add('agree');
        document.querySelector('.notification_container_choices').classList.remove('active');

         // дальше тут работа с websocket , мб выдавать собеседнику сообщение типа "собеседник согласился на обмен"
    });

    document.getElementById('refusal_btn').addEventListener('click', () => {
        document.querySelector('.notification_container_choices').classList.remove('active');
        // Тута логика при отказе , мб , дальнейшее удаление чата , тогда надо удаление вынести в функцию :)
    });

    function deleteChat(){
        // запрос
    }

    document.getElementById('chat_input').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            const message = event.target.value.trim();
            if (message) {
                console.log(message);
                event.target.value = '';
                // дальше тут работа с websocket
            }
        }
    });

    updateStatusMessage();
</script>
{% endblock %}

