{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/fetures/Messages/styles.css">
    <link rel="stylesheet" href="/static/fetures/Messages/message.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

{% endblock %}

{% block content %}
                <section class="messages_container">
                    <div class="section_head">
                        <h1> <img src="/static/icon/user.svg" width="20px" alt="user_icon">{{ name }}</h1>
                        <button id="delete_chat_btn" onclick="window.delete_chat.showModal()"><img
                                src="/static/icon/delete.svg" alt="delete_icon"></button>
                    </div>
                    <div class="trade_item_box">
                        <button class="item" id="selected_item" type="button"
                            onclick="window.choose_thing.showModal()">{{ first_item_name }}</button>
                        <img src="/static/icon/logo/logo.svg" alt="">
                        <div class="item">{{ second_item_name }}</div>
                    </div>
                    <div class="message_container" id="message_container">
                        <div class="notification_container active" id="statusMessage">
                            <span>Ожидание ответа от пользователя</span>
                        </div>
                        <div class="notification_container_choices">
                            <span>Пользователь готов обсудить если вы предложите данный товар:</span>
                            <div key="1" class="img_container_notify"
                                style="background-image:url('/static/img/1.jpg')">
                                <img src="/static/img/1.jpg" alt="" />
                            </div>
                            <div class="choice_btn_box">
                                <button class="agree_btn" type="button" id="agree_trade">Да</button>
                                <button class="refusal_btn" type="button" id="refusal_btn">Нет</button>
                            </div>
                        </div>
                    </div>
                    <div class="input_message">
                        <input id="chat_input" type="text" placeholder="">
                        <img src="/static/icon/message/icon.svg" alt="message_icon">
                    </div>
                    <!-- ====================== -->
                    <dialog id="choose_thing">
                        <h2>Выбрать вещь</h2>
                        <button class="close_modal" type="button">
                            <img src="/static/icon/persobnalCabinet/close.svg" alt="close_form">
                        </button>
                        <div class="swiper-container">
                            <div class="swiper-wrapper" id="thing_list"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </dialog>
                    <!-- ====================== -->
                    <dialog id="delete_chat">
                        <h2>Удалить этот чат</h2>
                        <button class="close_modal" type="button">
                            <img src="https://obmenyay-ru.ru/static/icon/persobnalCabinet/close.svg" alt="close_form">
                        </button>
                        <div class="text_container">
                            Вы действительно хотите удалить этот чат ?
                        </div>
                        <button type="button" id="cancellation_chat" class="add_thing_button">Отменить</button>
                        <button type="button" id="remove_chat" class="add_thing_button">Удалить</button>
                    </dialog>
                </section>

    <script type="module">
import { showNotification } from '/static/fetures/Notification/notification.js';

const thingList = document.getElementById('thing_list');
const selectedItemButton = document.getElementById('selected_item');
let selectedItem = localStorage.getItem('selectedItem');
let currentStatus = null;
let currentItems = [];

const eventSource = new EventSource(`https://obmenyay-ru.ru/chats/sse/{{ trade_id }}`); // SSE endpoint

eventSource.onmessage = (event) => {
  const data = JSON.parse(event.data);
  console.log("Received data:", data);

  switch (data.type) {
    case 'active':
      currentStatus = data.type;
      currentItems = data.items;
      updateStatusMessage(currentStatus, currentItems);
      break;
    case 'message':
      document.querySelector('.input_message').classList.add('agree');
      document.querySelector('.notification_container').classList.remove('active');
      document.getElementById('selected_item').disabled = true;
      displayMessage(data.text, `${data.is_my ? 'outgoing' : 'incoming'}`, data.sender_image_url);
      break;
    case "initial_data":
      currentStatus = data.status;
      currentItems = data.items;
      updateStatusMessage(currentStatus, currentItems);
      displayItems(currentItems);
      break;
  }
};

eventSource.onerror = (error) => {
  console.error("SSE error:", error);
  // Handle error (e.g., retry connection)
};

    function displayMessage(message, type, user_avatar_url) {
        const messageContainer = document.getElementById('message_container');
        const messageElement = document.createElement('div');
        if (type === 'incoming') {
            messageElement.className = `message ${type}`;
            messageElement.innerHTML = `
                <div class="message incoming">
                    <div class="message_text">
                        <p>${message}</p>
                    </div>
                    <img src="${user_avatar_url}" alt="user_avatar">
                </div>
            `;
        } else if (type === 'outgoing') {
            messageElement.className = `message ${type}`;
            messageElement.innerHTML = `
                <div class="message outgoing">
                    <img src="${user_avatar_url}" alt="user_avatar">
                    <div class="message_text">
                        <p>${message}</p>
                    </div>
                </div>
            `;
        }
        messageContainer.appendChild(messageElement);
    }



    function displayItems(items) {
        thingList.innerHTML = '';


        items.forEach(item => {
            const slide = document.createElement('div');
            slide.className = 'swiper-slide';
            slide.innerHTML = `
                                <span class="item__selected" style="display: none;">Выбрана</span>
                                <div key="${item.id}" class="img_container" style="background-image: url(${item.image});">
                                    <img src="${item.image}" alt="${item.name}" />
                                </div>
                                <div class="item-name">${item.name}</div>
                                <button class="select-button" data-id="${item.id}">Выбрать</button>
            `;

            const selectButton = slide.querySelector('.select-button');
            selectButton.addEventListener('click', async (event) => {
                event.stopPropagation();


                document.querySelectorAll('.item__selected').forEach(span => {
                    span.classList.remove('selected');
                    span.style.display = 'none';
                });

                const selectedSpan = slide.querySelector('.item__selected');
                selectedSpan.classList.add('selected');
                selectedSpan.style.display = 'block';

                selectedItemButton.textContent = item.name;
                localStorage.setItem('selectedItem', item.name);


                (async function getUserThings() {
                    await fetch(`https://obmenyay-ru.ru/trades/{{ trade_id }}/choose-item`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ item_id: Number(item.id) })
                    })
                        .then(() => {
                            document.getElementById('choose_thing').close();
                            window.location.href = `https://obmenyay-ru.ru/chats/?trade_id=${trade_id}`;
                        })
                        .catch((error) => showNotification(`Network response was not ok`));
                })()
            });

            thingList.appendChild(slide);
        });
    }


    function updateStatusMessage(status, items) {
        const statusMessageElement = document.getElementById('statusMessage');

        switch (status) {
            case 'waiting':
                statusMessageElement.textContent = 'Ожидание ответа от пользователя';
                document.getElementById('selected_item').disabled = true;
                break;
            case 'choose item':
                statusMessageElement.textContent = 'Пожалуйста, выберите вещь для обмена';
                break;
            case 'final answer':
                document.querySelector('.notification_container').classList.remove('active');
                document.querySelector('.notification_container_choices').classList.add('active');
                document.getElementById('selected_item').disabled = true;
                selectedItemButton.textContent = items[0].name;
                const imgContainer = document.querySelector('.img_container_notify');
                const imageUrl = items[0].image;
                imgContainer.style.backgroundImage = `url(${imageUrl})`;
                const imgElement = imgContainer.querySelector('img');
                imgElement.src = imageUrl;
                break;
            case 'active':
                document.querySelector('.input_message').classList.add('agree');
                document.querySelector('.notification_container').classList.remove('active');
                document.getElementById('selected_item').disabled = true;
                // selectedItemButton.textContent = item_name;
                break;
        }
    }




    document.querySelectorAll('.close_modal').forEach(button => {
        button.addEventListener('click', (event) => {
            const dialog = event.target.closest('dialog');
            if (dialog) {
                dialog.close();
            }
        });
    });

    document.getElementById('cancellation_chat').addEventListener('click', () => {
        const dialog = event.target.closest('dialog');
        if (dialog) {
            dialog.close();
        }
    });

    document.getElementById('remove_chat').addEventListener('click', () => {
        deleteChat();
    });


    document.getElementById('agree_trade').addEventListener('click', async () => {
        document.querySelector('.input_message').classList.add('agree');
        document.querySelector('.notification_container_choices').classList.remove('active');

        (async function getUserThings() {
            await fetch(`https://obmenyay-ru.ru/trades/{{ trade_id }}/match`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(() => {
                    window.location.href = 'https://obmenyay-ru.ru/chats/?trade_id={{trade_id}}';
                })
                .catch((error) => showNotification(`Network response was not ok`));
        })()
    });


document.getElementById('delete_chat_btn').addEventListener('click', () => {
    document.querySelector('.notification_container_choices').classList.remove('active');
    deleteChat();
});


document.getElementById('remove_chat').addEventListener('click', () => {
    document.querySelector('.notification_container_choices').classList.remove('active');
    deleteChat();
});

    async function deleteChat() {
        const tradeId = '{{ trade_id }}';

        await fetch(`/trades/${tradeId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(() => {
            showNotification('Сделка успешно удалена.', 'success')
            window.location.href = 'https://obmenyay-ru.ru/chats/';
        }).catch((err) => {
            const errorText = response.text();
            showNotification(`Ошибка удаления:: ${err.status}- ${errorText}`)
        });

    }


    document.getElementById('chat_input').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            const message = event.target.value.trim();
            if (message) {
                event.target.value = '';

                (async function getUserThings() {
                    await fetch(`https://obmenyay-ru.ru/trades/{{ trade_id }}/send_message`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            text: message,
                        }),
                    })
                        .then(() => { })
                        .catch((error) => showNotification(`Error sending message: ${error}`));
                })()

            }
        }
    });


    document.addEventListener('DOMContentLoaded', () => {
     const burger = document.querySelector('.burger-menu');
            if (burger) {
                burger.classList.add('active');
            }
        });

</script>
{% endblock %}
